<router-outlet></router-outlet>

<!-- property binding -->
<div
  [style.backgroundColor]="bgColor"
  [hidden]="hide"
  style="
    width: 200px;
    height: 200px;
    border: 1px solid gainsboro;
    margin: 10px auto 10px auto;
    padding: 4px;
  "
>
  <!-- interpolation -->
  Hello world {{ title }}
</div>

<input type="text" [(ngModel)]="bgColor" />
<p>Theme : {{ theme }}</p>

<button
  (click)="changeTheme()"
  style="
    padding: 8px;
    margin: 8px;
    border: none;
    box-shadow: 0px 0px 4px #8a7777;
  "
>
  Allumer/Etteindre
</button>
